.class1 {
    text-align: center;
    margin: 10px;
    padding: 10px;
}

.text1 {
    color: blue;
    font-size: 20px;
}

.showbeforetext {
    color: darkblue;
    font-size: 40px;
    font-style: italic;
    text-align: center;
}

.btn1 {
    font-size: large;
    font-style: oblique;
    text-align: center;
    margin: 5px;
    padding: 5px;
}

.reformclass {
    margin: 10px;
    padding: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: larger;
}

.correctcheckclass {
    margin: 10px;
    padding: 5px;
    position: absolute;
    top: 60%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: larger;
}

.showclass {
    font-size: 30px;
    font-style: oblique;
    text-align: center;
    color: black;
    margin: 5px;
    padding: 5px;
}

.right {
    text-align: center;
    position: absolute;
    left: 45%;
    top: 70%;
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: green;
    font-style: italic;
}

.wrong {
    text-align: center;
    font-size: 40px;
    position: absolute;
    left: 45%;
    top: 70%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: red;
    font-style: italic;
}