.class1 {
    text-align: center;
    margin: 10px;
    padding: 10px;
}

.text1 {
    color: blue;
}

.btn1 {
    font-size: large;
    font-style: oblique;
    text-align: center;
    margin: 5px;
    padding: 5px;
}